# slicing
- s[[i:j]] include s[[i]],but exclude s[[j]]
- cannot slice set,dict
- l=[[1,2,3,4]]
    - l[[2:1000]] -> no error -> there is no out of bound.

In [7]:
### slice definitions are actually objects. -> of type slice
l = [1,2,3,4,5]
s = slice(0,2)
l[s]

[1, 2]

# 1. String slice

In [10]:
my_string = "hello world"
print(my_string[2:])
print(my_string[:2])
print('h e l l o w o r l d'[::2])
my_string[::-1]

llo world
he
helloworld

'dlrow olleh'

# 2. List slice (Mutable)

In [2]:
eg_list = ['ram', 'shyam', 'hari', 'rabin']
print(eg_list[1:3])
print(eg_list[-1:-4:-1])
print(eg_list[5::-1])

['shyam', 'hari']
['rabin', 'hari', 'shyam']
['rabin', 'hari', 'shyam', 'ram']

In [14]:
# 3. List slice assigning
l = [1,2,3,4,5]
print(id(l))
l[1:3] = (10,20,30)
print(id(l))
l # same id

1910993257216
1910993257216

[1, 10, 20, 30, 4, 5]

In [15]:
l = [1,2,3,4,5]
print(id(l))
l[0:4:2] = (10,20) # 0-4 having skip 2 is 2 element, so replacing element also must be 2
print(id(l))
l # same id

1910992891840
1910992891840

[10, 2, 20, 4, 5]

In [16]:
# deleting element of sequence using slicing
l = [1,2,3,4,5]
print(id(l))
l[0:2] = []
print(id(l))
l # same id

1910993129728
1910993129728

[3, 4, 5]

In [17]:
# insertion using slice
l = [1,2,3,4,5]
print(id(l))
l[1:1] = 'abc'
print(id(l))
l # same id

1910993131264
1910993131264

[1, 'a', 'b', 'c', 2, 3, 4, 5]