# Tuple -> Immutable -> Sequence
## Immutability of Tuples
- elements cannot be added or removed or edit once assigned.
- the order of element cannot be changed or appended or extended as list.
- tuples are indexed similar to list.

## We really need to think of tuples also as data records.
- ### here position of value has meaning.
- works well for representing data structures:
- Point:(10,20) -> (x-cord,y-cord)
- Circle:(0,0,10) -> x-cord,y-cord,radius
- City: ('London',UK',8_780_000) -> City,country,population.
- ### Because tuples, string and integers are immutable, we are guaranteed that the data and data structure for tuple will never change.

## Tuple vs list vs strings
 Tuples | List | Strings
--- | --- | --- 
 Containers | Containers | Containers
 Order matters | Order matters | Order matters
 Heterogeneous | Heterogeneous | -
 Homogeneous | Homogeneous | Homogeneous
 Indexable | Indexable | Indexable
 Iterable | Iterable | Iterable
 Immutable | Mutalbe | Immutable
 Fixed length | Len can change | Fix length
 Fix order | order can change | fix order

In [1]:
# define empty tuple
a = tuple()
print(type(a))

# define tuple
a = 1,2,3,4,5
print(type(a))
b = 4, # also a tuple
print(type(b))
c = (0, 1, 2, 3)
print(type(c))
d = (4,)
print(type(d))
e = (4)
print(type(e))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'int'>

In [2]:
london = ('London','UK',8_780_000)
print(london[0],london[1])

London UK

In [6]:
# structure will never change so. -> hetrogeneous.
cities = [
    ('Londom','UK',8780000),
    ('New York','USA',8500000),
    ("Beijing",'China',2100000)
]
total_pop = 0
for city in cities:
    total_pop +=city[2]

print('total population is:',total_pop)

total population is: 19380000

In [6]:
# 'tuple' object does not support item assignment
# but they can contain mutable objects:
v = ([1, 2, 3], [3, 2, 1])
x, y = v
x,y

([1, 2, 3], [3, 2, 1])

In [9]:
# bracket in python is optional
a = (1) # type of a is int
type(a)

int

In [9]:
# Extracting data from tuples
city,country,population = ('London','UK',8780000)
city,country,population = 'New York','USA',8500000
print(city)

New York

In [8]:
# Dummy variable
city,_,population = ('London','UK',8780000)
record = ('DJIA','2018',1,19,25987.35,26071.72,3343,4656)
# if we just need name and year
name,year,*_ = record
print(name,year)

DJIA 2018

# Tuples as Data Structures.
- () is not that define tuples
    - a = 10,20
- but, in some cases we need to specify ().
    - in parameters, etc.

In [10]:
a = 1,2,3,4,5,6
x,*_,y,z = a
print(x,y,z)

1 5 6

In [15]:
# element/object of tuples are immutable but, if the element/object self is mutable then we can edit the elements.
a = ([1,2,3],[4,5,6])
print(type(a),a,id(a))
a[0][0] = 10
print(type(a),a,id(a))
# Notice that the address of the tuple is not changed, but we have changed the element/object of the tuple.

<class 'tuple'> ([1, 2, 3], [4, 5, 6]) 2027934645440
<class 'tuple'> ([10, 2, 3], [4, 5, 6]) 2027934645440

In [28]:
# tuple in class
pt1 = (0,0)
pt2 = (10,20)

london = 'London','UK',8_967_8600
new_yrok = 'New York','USA',8_978_989
beijing = 'Bejing','China',7_987_987

cities = [london,new_yrok,beijing]

print('total population is:',sum(city[2] for city in cities))

total population is: 106645576

## csv to tuple

In [31]:
a = '234,3434,3434'
b = tuple(int(x) for x in a.split(','))
print(b,type(b))

(234, 3434, 3434) <class 'tuple'>

# Named Tuple

In [33]:
# Using a class insted.
# At this point, in order to make things clearer for the reader(not for compiler), we might want to approach this using a class instead.

#eg: Using class
class Stock:
    def __init__(self,symbol,year,month,day,open,high,low,close):
        self.symbol=symbol
        self.year = year
        self.month = month
        self.day = day
        self.open = open
        self.high = high
        self.low = low
        self.close = close


# eg: tuple
stock = ('JLI',2021,'July',21,880,900,870,890)

Class-Approach | Tuple-Approach
-----------------|--------------
jli.symbol | jli[[0]]
jli.open | jli[[4]]
jli.close | jli[[7]]
jli.high-jli.low | jli[[5]]-jli[[6]]

- So, class gives a readability.
- In class, we can use ____repr____, and ____eq____

## But, Stock is mutable. Here comes the Named Tuple.
### There's a lot to like using tuples to represent data structures.
- The real drawback is that, we have to know what the positions means, and remember this is our code.
- If we ever need to change the structure of tuple in our code. Most likly to break our code.

### Named tuple to rescue.
- So what if we could somehow combine these two approaches, essentially creating tuples where we can, in addition, give meaninful names to the position.

- They subclass tuple, and add a layer to assign property names to the position elements.
- ### from collections import namedtuple
    - namedtuple is a function, which generates a new class ----> class factory
    - that new class inherits from tuple
    - but also provides named property to access elements of the tuple.
    - but an instance of that class is still a tuple.

## Generating named tuple class
- We have to understand that namedtuple is a class factory.
- we are essentaially creating a new class, just as if we had use class ourself.
- * namedtuple needs a new things to generate this calss:
        - the class  name we want to use
        - a sequence of field names (string) we want to assign, in the order of elments in the tuple

In [77]:
from collections import namedtuple
Point2D = namedtuple('Point2D',['x','y'])
Point2D1 = namedtuple('Point2D',('x','y'))
Point2D2 = namedtuple('Point2D','x,y')
Vector3D = namedtuple('Vector3D','x y z')

# we can create instances if Point2D, just as we would with any class(since it is a class).

pt = Point2D(10,20)
pt1 = Point2D1(x=10,y=20)

print(pt.x)

print(pt1[1])

print(isinstance(pt,tuple))

10
20
True

In [64]:
print('address',pt is pt1)
print('value',pt == pt1)
# in case of class, we cannot directly equal, we have to use __eq__
max(pt)
# same for the max, we cannot direclty use max in class.

address False
value True

20

In [72]:
# for dot product of namedtuple
def dot_product(a,b):
    return sum(e[0]*e[1]for e in zip(a,b))


dot_product(pt,pt1)

500

In [74]:
# vector 3D
v1 = Vector3D(1,2,3)
v2 = Vector3D(1,1,1)

dot_product(v1,v2)

6

In [51]:
pt.x = 100

AttributeError: can't set attribute

In [57]:
# field name of the tuple generated class.
print(Point2D._fields)

# extracting named tuple values as a dictionary
pt1._asdict()

('x', 'y')

{'x': 20, 'y': 30}

In [85]:
Stock = namedtuple('JLI','symbol year month day open high low close')
s1 = Stock('JLI',2021,'July',21,880,900,870,890)

symbol,*_,high,low,close = s1
symbol,high

('JLI', 900)

# Modifying namedtuples - not mutating
- named tuples are immutable, so we have to create a new tuple, with modified values.

In [1]:
from collections import namedtuple

Point2D = namedtuple('Point2D','x y')
pt = Point2D(0,0)

pt = Point2D(100,pt.y)
pt

Point2D(x=100, y=0)

### Drawback

In [3]:
Stock = namedtuple('JLI','symbol year month day open high low close')
s1 = Stock('JLI',2021,'July',21,880,900,870,890)

s1 = Stock(s1.symbol,s1.year,s1.month,s1.day,s1.open,s1.high,s1.low,999)
s1
# it painful to edit a namedtuple in this way, we have to specify which are not changing.

JLI(symbol='JLI', year=2021, month='July', day=21, open=880, high=900, low=870, close=999)

In [7]:
# We can using slicing or unpacking
s1 = Stock(*s1[:7],568)
# or
*current,_ = s1
s1= Stock(*current,90)
s1

JLI(symbol='JLI', year=2021, month='July', day=21, open=880, high=900, low=870, close=90)

In [14]:
# We can use _make class method- but we need to create na iterable taht contains all the values first:
*current,_ = s1
current.append(888)

s1 = Stock._make(current)
s1

JLI(symbol='JLI', year=2021, month='July', day=21, open=880, high=900, low=870, close=888)

### But there is still a small drawback
- what if we want to change a value in the middle. (multiple middle values.)
- cannot use extend packing.

In [16]:
# We can use _replace
print(s1)
s1 = s1._replace(year=2000,day=1,low=90)
s1

JLI(symbol='JLI', year=2021, month='July', day=21, open=880, high=900, low=870, close=888)

JLI(symbol='JLI', year=2000, month='July', day=1, open=880, high=900, low=90, close=888)

# Extending namedtuples - not mutating

In [17]:
Stock = namedtuple('JLI','symbol year month day open high low close')
s1 = Stock('JLI',2021,'July',21,880,900,870,890)
s1

JLI(symbol='JLI', year=2021, month='July', day=21, open=880, high=900, low=870, close=890)

In [21]:
new_fields = Stock._fields + ('prev_close',)

StockExt = namedtuple('StockExt',new_fields)
s2 = StockExt._make((*s1,880))
s2

StockExt(symbol='JLI', year=2021, month='July', day=21, open=880, high=900, low=870, close=890, prev_close=880)

# Docstrings and Default values in namedtuples

In [25]:
Point2D = namedtuple('Point2D','x y ')

print(Point2D.__doc__)
print(Point2D.x.__doc__)
print(Point2D.y.__doc__)

Point2D(x, y)
Alias for field number 0
Alias for field number 1

In [26]:
# Overriding DocStrings.
Point2D.__doc__ = 'Represents a 2D Cartesain coordinate'
Point2D.x.__doc__ = 'x coordinate'
Point2D.y.__doc__ = 'y coordinate'

print(Point2D.__doc__)
print(Point2D.x.__doc__)
print(Point2D.y.__doc__)

Represents a 2D Cartesain coordinate
x coordinate
y coordinate

### Default Values
- namedtuple function doesnot provide us a way to define fefault values for each fields
- Two approach are:
    - using a prototype
        - create an instance of the named tuple with default values-the prototype.
        - create any additional instances of the named tuple using the prototype._replace method.
        - need to supply a default for every field(can be None)
    - using __defaults__ property.
        - directly set the defaults of the named tuple constructor (the ____new____ method)
* we cannot have non-defaulted parameters after the first default parameter.

In [29]:
# USing prototype
Vector2D = namedtuple('Vector2D','x1 y1 x2 y2 origin_x,origin_y')
vector_zero = Vector2D(0,0,0,0,0,0)

v1 = vector_zero._replace(x1=10,y1=10,x2=20,y2=20)
v1

Vector2D(x1=10, y1=10, x2=20, y2=20, origin_x=0, origin_y=0)

In [30]:
# using __defaults__
# we need to provide defaults to the constructor of our named tuple class.

Vector2D = namedtuple('Vector2D','x1 y1 x2 y2 origin_x,origin_y')
Vector2D.__new__.__defaults__ = (0,0) # default from last.

v1 = Vector2D(10,10,20,20)
v1
# better than prototype.

Vector2D(x1=10, y1=10, x2=20, y2=20, origin_x=0, origin_y=0)

# Named Tuples - Application - Returning Multiple Values

In [31]:
from random import randint,random
from collections import namedtuple

def random_color():
    red = randint(0,255)
    blue= randint(0,255)
    green = randint(0,255)
    alpha = round(random(),2)
    return red,green,blue,alpha

In [34]:
color = random_color()

Color = namedtuple('Color','red green blue alpha')

c1 = Color(*color)
c1

Color(red=103, green=194, blue=3, alpha=0.65)

# Named Tupes - Application - Alternative to Dictoinaries

In [45]:
data_dict = dict(key1=100,key2=200,key3=300)
# key should be hashable and tuple support.
# in dict-> order is guareentied (python 3.7)
data_dict['key2']

200

In [46]:
from collections import namedtuple

Data = namedtuple('Data',data_dict.keys())
d1 = Data(*data_dict.values()) # might get wrong value in wrong key
d1

Data(key1=100, key2=200, key3=300)

In [49]:
# right value at right key, much safer.
d2 = Data(**data_dict)
d2

Data(key1=100, key2=200, key3=300)

In [50]:
d2.key1

100

In [ ]:
# tuples are light weight then dictionaries.
# if want to access any attribute of the tuples. editor will sugest.

In [70]:
# want to generate namedtuple of list of dictories
data_list= [
    {'key2':2,'key1':1},
    {'key2':2,'key1':1},
    {'key3':3,'key1':1,'key2':2},
    {'key1':1}
]

In [82]:
keys = {key for dict_ in data_list for key in dict_.keys()}
print(keys)

Struct = namedtuple('Struck',sorted(keys))
print(Struct._fields)

# need to use default(None) , that every dict have not 2 keys.
Struct.__new__.__defaults__= (None,)*len(Struct._fields)

tuple_list = []
for dict_ in data_list:
    tuple_list.append(Struct(**dict_))

tuple_list

{'key2', 'key3', 'key1'}
('key1', 'key2', 'key3')

[Struck(key1=1, key2=2, key3=None),
 Struck(key1=1, key2=2, key3=None),
 Struck(key1=1, key2=2, key3=3),
 Struck(key1=1, key2=None, key3=None)]

In [76]:
# using fuctions
def tuplify_dicts(dicts):
    keys = {key for dict_ in dicts for key in dict_.keys()}
    Struct = namedtuple('Struck',sorted(keys))
    Struct.__new__.__defaults__= (None,)*len(Struct._fields)
    tuple_list = [Struct(*dict_) for dict_ in dicts]
    return tuple_list

In [77]:
tuplify_dicts(data_list)

[Struck(key1='key2', key2='key1', key3=None),
 Struck(key1='key2', key2='key1', key3=None),
 Struck(key1='key3', key2='key1', key3='key2'),
 Struck(key1='key1', key2=None, key3=None)]